// .apple-01, .apple-02, .apple-03, .apple-04, .apple-05, .apple-06, .apple-07, .apple-08, .apple-09, .apple-10, .apple-11{
// 	opacity: 0;
// }


////////////
// Apple
#apple{
	opacity: 0;
	// visibility: hidden;
}
////////////
// Diamond
#diamond{
	opacity: 0;
}
////////////
// Branch 01
#stem01-01, #stem01-02, #stem01-03, #stem01-04, #stem01-05, #stem01-06, #stem01-07, #stem01-08, #stem01-09, #stem01-10, #stem01-11, #stem01-12 {
	opacity: 0;
}
#leaf01-01, #leaf01-02, #leaf01-03, #leaf01-04, #leaf01-05, #leaf01-06, #leaf01-07, #leaf01-08, #leaf01-09, #leaf01-10, #leaf01-11, #leaf01-12, #leaf01-13, #leaf01-14, #leaf01-15{
	opacity: 0;
}
#circle01-01, #circle01-02, #circle01-03, #circle01-04, #circle01-05, #circle01-06{
	opacity: 0;
}
////////////
// Branch 02
#stem02-01, #stem02-02, #stem02-03, #stem02-04, #stem02-05, #stem02-06, #stem02-07, #stem02-08, #stem02-09, #stem02-10, #stem02-11, #stem02-12 {
	opacity: 0;
}
#leaf02-01, #leaf02-02, #leaf02-03, #leaf02-04, #leaf02-05, #leaf02-06, #leaf02-07, #leaf02-08, #leaf02-09, #leaf02-10, #leaf02-11, #leaf02-12{
	opacity: 0;
}
#circle02-01, #circle02-02, #circle02-03, #circle02-04, #circle02-05, #circle02-06, #circle02-07{
	opacity: 0;
}


// #stem01-01, #stem01-02, #stem01-03, #stem01-04, #stem01-05, #stem01-06, #stem01-09, #stem01-08, #stem01-11, #stem01-12, #diamond, #stem02-01, #stem02-02, #stem02-03, #stem02-08, #stem02-04, #stem02-05, #stem02-06, #stem02-07, #stem02-08, #stem02-09, #stem02-10, #stem02-11, #stem02-12{
// 	opacity: 1;
// }
// #circle01-01{
// 	opacity: 1;
// }